// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #4DBFD9;
$yellow: #F4B400;
$orange: #E75C21;
$green: #C0D113;
$gray: #0E0000;
$mauve: #7E3794;
$gris: #556270;
$light-gray: #F4F4F4;
$white : #fff;
