.navbar-lewagon {
  justify-content: space-between;
  background: #e75c21;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-nav li a {
  color: #fff;
}

.navbar-lewagon .dropdown-item{
  color: #000;
}
